@import '~common/scss/const';
@import '~common/scss/mixin';

    .tab {
        display: flex;
        height: 44px;
        line-height: 44px;
        text-align: center;

        &-item {
            flex: 1;
        }

        &-item-link {
            padding-bottom: 5px;
            color: $color-text-l;
        }

        &-item.router-link-active {
            .tab-item-link {
                color: $color-theme;
                border-bottom: 2px solid $color-theme;
            }
        }
    }